* {
    margin: 0;
    padding: 0;
}

header {
    height: 15vh;
    background: rgb(208, 208, 208);
    background: linear-gradient(90deg, rgba(208, 208, 208, 1) 0%, rgba(13, 202, 240, 1) 100%);
}

.imgLogo {
    height: 10vh;
}

.iconMenu {
    font-size: 30px;
    color: cornflowerblue;
}

main {
    min-height: 70vh;
    position: relative;
    /*for offcanvas remain in main*/
}

.offCanvasMenu {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.contentMenu{
    height: 80%;
}
.footerMenu{
    height: auto;
}

footer {
    height: 15vh;
}